.main
  .main-header
    .left-box
      .group-name
        = @group.name    
      .member-list
        Member :
        .member-list__name
          - array = @group.user_ids
          - array.each_with_index do |item,i|
            = User.find(array[i]).name

    .right-box
      = link_to edit_group_path(@group),class:"edit-btn" do
        Edit

  .messages
    = render @messages

  .form 
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message',
      placeholder: 'type a message'
      .form__choice
        = f.label :image, class: 'form__choice__image' do
          = icon('far','image', class: 'icon')
          = f.file_field :image, class:'choice'
      = f.submit 'Send', class: 'form__submit'