.side-bar

  .side-bar__header
    .side-header__box
      %p.side-header__box__user-name masa
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#" do
            = icon('far','edit')
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            = icon('fas','cog')

  .side-bar__groups
    .group
      = link_to "#", class:"group" do
        %p.group__group-name techcamp1
        %p.group__latest-message まだメッセージがありません
    .group
      = link_to "#", class:"group" do
        %p.group__group-name techcamp2
        %p.group__latest-message まだメッセージがありません
    .group
      = link_to "#", class:"group" do
        %p.group__group-name techcamp3
        %p.group__latest-message まだメッセージがありません
 