.side-bar

  .header
    .header-box
      %p.header-box__user-name
        = current_user.name
      %ul.header-box__menu
        %li.side-bar__header-box__menu__new-group
          = link_to new_group_path do
            = icon('far','edit')
        %li.side-bar__header-box__menu__edit-user
          = link_to edit_user_path(current_user.id) do
            = icon('fas','cog')

  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class:"group" do
        .group-box
          %p.group-box__name
            = group.name
          %p.group-box__message
            = group.show_last_message